body {
    background-color: rgba(87, 28, 30, 0.65);
}

.menu-icon {
    min-width: 30px;
    max-width: 50px;
    width: 5%;
    margin: 5px;
}

.vert-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.floating-menu {
    background: white;
    min-width: 30px;
    max-width: 50px;
    padding: 1%;
    width: 5%;
    z-index: 100;
    border-radius: 30px;
    text-align: center;
}

.floating-menu a {
    width: 30px;
}