body {
    background-color: rgba(87, 28, 30, 0.8);
}

.menu-icon {
    width: 60%;
    margin: 2%;
}

.vert-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.floating-menu {
    left: 0.5%;
    background: rgba(255, 255, 255, 0.75);
    width: 3.5%;
    padding: 0.25%;
    z-index: 100;
    border-radius: 30px;
    text-align: center;
}

table {
    background-color: rgba(255, 255, 255, 0.75);
    width: 94.5%;
    height: 99%;
    border-radius: 30px;
    left: 5%;
}

th, td {
    text-transform: capitalize;
    text-align: center;
    width: 12.5%;
    border: 1px solid black;
}

thead, tbody {
    display: block;
    border: 1px solid black;
}

tbody {
    overflow-y: auto;
    overflow-x: hidden;
}