body {
    background-color: rgba(87, 28, 30, 0.65);
}

.menu-icon {
    width: 50px;
}

.vert-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.floating-menu {
    background: white;
    padding: 5px;
    width: 70px;
    z-index: 100;
    border-radius: 30px;
}

.floating-menu a {
    width: 50px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
}